* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.main-wrapper {
    min-height: 875px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.boards {
    display: flex;
    justify-content: center;
    gap: 200px;
}

.gameboard {
    border: 1px solid black;
}

td {
    height: 50px;
    width: 50px;
    border: 1px solid black;
}