:root {
    --radar-green: #63c45a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background-color: #cacaca;
}

.main-wrapper {
    min-height: 875px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.battleship-heading {
    text-align: center;
    padding-top: 10px;
}

.player-ships {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    padding-left: 282px;
}

.place-ship {
    height: 40px;
    width: 100px;
    background-color: rgb(164, 206, 255);
}

.ship-direction {
    width: 80px;
}

.ship-selected {
    background-color: rgb(95, 170, 255);
    box-shadow: 0 0 5px rgb(61, 61, 61) inset;
}

.placed {
    background-color: rgb(69, 228, 69);
}

.boards {
    display: flex;
    justify-content: center;
    gap: 200px;
}

.gameboard {
    border: 2px solid var(--radar-green);
}

td {
    height: 50px;
    width: 50px;
    border: 1px solid var(--radar-green);
    background-color: #1c291e;
}

.unclickable {
    pointer-events: none;
}

.hidden {
    display: none;
}

.placement-preview {
    background-color: rgb(20, 117, 20);
}

/* .player-square.adjacent-square {
    background-color: #e7e7e7;
} */

.illegal-placement {
    background-color: rgb(54, 78, 52);
}

.placed-ship {
    background-color: rgb(36, 146, 26);
}

.miss, .hit {
    height: 8px;
    width: 8px;    
    background-color: var(--radar-green);
    border-radius: 50%;
    margin: auto;
    box-shadow: 0 0 3px 3px var(--radar-green);
}

.hit {
    background-color: rgb(167, 12, 12);
    box-shadow: 0 0 3px 3px rgb(167, 12, 12) ;
}

.sunk {
    background-color: rgb(36, 146, 26);
}
